body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(174, 166, 166);
}
h1{
    color:rgb(29, 29, 185);

}
form{
    background-color: white;
    text-align: center;
    max-width: 250px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}
#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    background-color: rgb(211, 12, 12);
    font-size: 1.5em;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: black;
}
#result{
    font-size: 1.75em;
    font-weight: bold;
}